# Python
__pycache__/
*.pyc
venv/
.env
*.egg-info/

# Go
*.exe
*.test
vendor/

# Node/React
node_modules/
dist/
build/

# Terraform
*.tfstate
*.tfstate.backup
.terraform/
*.tfvars

# General
.DS_Store
*.log
